/* header */
.header{
    position: absolute;
      z-index: 30;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.6;
  }
  .header_con{
    display: flex;
    padding: 1.5rem 2.74rem;
    justify-content: space-between; 
  }
  .header_left{
    display: flex;
    flex-basis: 100%;
    align-items: center;
  }
  .header_right{
    display: flex;
    align-items: center;
  }
  .header_img{
    height: 80px;
  }
  .header_right_button{
    cursor: pointer;
  }
  .headerUL{
    color: beige;
  }

   @media  (max-width: 576px) {
      .header_con{
        padding: 0.5rem 0.5rem;
        justify-content: space-between; 
      }
      .header_left a{
        width:20%;
      }
      .header_img{
        height: 10%;
      }
      .header_left nav{
        margin-left:1rem;
        font-size: 0.6rem;
      }
    }
  

  /* IntroHome */
  .Intro{
    background: rgb(247,3,3);
    font-size: 4rem;
    justify-content: center;  
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .HomeText{
    position: relative;
    left: 150px;
    top: 200px;
    color: rgba(255,255, 255, 0.5);
  }
  @media only screen and (max-width: 576px) {
    .Intro{
      background: rgb(247,3,3);
      font-size: 3rem;
      justify-content: center;  
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .HomeText{
      position: relative;
      left: 16px;
      top: 200px;
      color: rgba(255,255, 255, 0.5);
    }
  }
  
  /* rightMenu */
  .rightMenu{
    width: 25rem;
    position:fixed;
    top:0;
    z-index:40;
    right:0;
    bottom:0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    background-color: #101010;
    padding: 2.5rem 4.375rem 3.75rem;
  }
  .rightMenu .rightMenuClose{
    display: flex;
    color: #ccc;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
  }

  /* AboutMe */

  .aboutmeCon{
    position: relative;
    left: 150px;
  }
  .aboutmeCon .subtext{
    opacity: 0.4;
    font-weight: 2rem;
    font-size: 1.3rem;
  }
  .aboutmeCon .working{
    font-size: 7rem;
    font-weight:900;
    line-height:1;
  }
  .aboutmeCon .subworks{
    font-size: 2rem;
    vertical-align: super;
    font-weight: 400;
  }
  .aboutIntro{
     color: rgba(0,0,0, 0.5);
     font-size: 1.5rem;
  }
  @media only screen and (max-width: 576px) {
    .aboutmeCon{
      position: relative;
      top:18px;
      left: 35px;
    }
    .aboutmeCon .subtext{
      opacity: 0.4;
      font-weight: 0.2rem;
      font-size: 0.3rem;
    }
    .aboutmeCon .working{
      font-size: 2rem;
      font-weight:300;
      line-height:1;
    }
    .aboutmeCon .subworks{
      font-size: 0.2rem;
      vertical-align: super;
      font-weight: 300;
    }
    .aboutIntro{
       color: rgba(0,0,0, 0.5);
       font-size: 0.7rem;
    }
    .mobileAboutcon{
      display:flex;
    }
    .aboutContent{
      color: rgb(0,0,0,0.5);
      width: 70%;
      font-size:0.3rem;
  }
  }
  /*Skills*/
  .skills .skillcon{
    left:5rem;
}
  .skillSubCon{
    position: relative;
    left:100px;
  }
  @media only screen and (max-width: 576px) {
    .skills .skillcon{
      left:2rem;
      bottom:2rem;
  }
    .skills .skillsbackground img{
      height: 100%;
    }
    .skillSubCon{
      position: relative;
      font-size:0.5rem;
      left:60px;
    }
    .skillSubCon img{
      width: 2rem;
      height: 2rem;
    }
  }    
    /*Career*/
    .career{
      right: 200px;
      bottom:30px;
  }
    @media only screen and (max-width: 576px) {
      .career{
       right: 100px;
       bottom:30px;
      }
    }



  /* contactMe*/
  .contactMeCon{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: 100s linear 0s infinite normal none running kmVFNa;
}
.contactMeSub{
    position: absolute;
    left: 250px;
    top: 220px;
}
.contactMe .subject{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.contactMe .sub_con{
    color: rgb(255, 255, 255,0.5);
    font-size: 1rem;
}
@media only screen and (max-width: 576px) {
  .contactMeCon img{
    height: 100%;
    object-fit: cover;
  }
  .contactMeSub {
    position: absolute;
    left: 26px;
    top: 220px;
  }
}