/* header */
.header{
    position: absolute;
      z-index: 30;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0.6;
  }
  .header_con{
    display: flex;
    padding: 1.5rem 2.74rem;
    justify-content: space-between; 
  }
  .header_left{
    display: flex;
    flex-basis: 100%;
    align-items: center;
  }
  .header_right{
    display: flex;
    align-items: center;
  }
  .header_img{
    height: 80px;
  }
  .header_right_button{
    cursor: pointer;
  }
  .headerUL{
    color: beige;
  }

  /* IntroHome */
  .Intro{
    background: rgb(247,3,3);
    font-size: 4rem;
    justify-content: center;  
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .HomeText{
    position: relative;
    left: 150px;
    top: 200px;
    color: rgba(255,255, 255, 0.5);
  }
  
  /* rightMenu */
  .rightMenu{
    width: 25rem;
    position:fixed;
    top:0;
    z-index:40;
    right:0;
    bottom:0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    background-color: #101010;
    padding: 2.5rem 4.375rem 3.75rem;
  }
  .rightMenu .rightMenuClose{
    display: flex;
    color: #ccc;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
  }

  /* AboutMe */

  .aboutmeCon{
    position: relative;
    left: 150px;
  }
  .aboutmeCon .subtext{
    opacity: 0.4;
    font-weight: 2rem;
    font-size: 1.3rem;
  }
  .aboutmeCon .working{
    font-size: 7rem;
    font-weight:900;
    line-height:1;
  }
  .aboutmeCon .subworks{
    font-size: 2rem;
    vertical-align: super;
    font-weight: 400;
  }
  .aboutIntro{
     color: rgba(0,0,0, 0.5);
     font-size: 1.5rem;
  }
  /*Skills*/
  


  /* contactMe*/
  .contactMeCon{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.contactMeSub{
    position: absolute;
    left: 250px;
    top: 220px;
}
.contactMe .subject{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.contactMe .sub_con{
    color: rgb(255, 255, 255,0.5);
    font-size: 1rem;
}